<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recherche Intelligente</title>
</head>
<body>
    <input type="text" id="search-input">
    <label for="search-input">Recherche</label>
    <ul id="search-results"></ul>   
</body>
</html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js">


$(document).ready(function() {
  $('#search-input').keyup(function() {
    // Récupérer la valeur de la barre de recherche
    var query = $(this).val();

    // Envoyer une requête AJAX au serveur pour récupérer les résultats de la recherche
    $.ajax({
      timeout: 1,
      url: '/search/',
      data: { 'q': query },
      success: function(data) {
        $('#search-results').empty();
        $.each(data.data, function(index, result) {
          $('#search-results').append('<li>' + result.nom_p + ' (' + result.qte + ')</li>');
        });
      }
    });
  });
});

</script>